@import "tailwindcss";

.bg-pokeball {
    background-image: url("/assets/pokeball.png");
    background-position: center;
}

.bg-greatball {
    background-image: url("/assets/greatball.png");
    background-position: center;
}

.bg-ultraball {
    background-image: url("/assets/ultraball.png");
    background-position: center;
}

.bg-quickball {
    background-image: url("/assets/quickball.png");
    background-position: center;
}

.bg-repeatball {
    background-image: url("/assets/repeatball.png");
    background-position: center;
}

.home {
    position: absolute;
    top: 15px;
    left: 15px;
    background-image: url("/assets/home.png");
}

.home-icon {
    width: 30px;
    height: auto;
}

.outlined-text {
    color: black;
    text-shadow: 
        -1px -1px 0 #FFFFFF,  
        1px -1px 0 #FFFFFF,
        -1px 1px 0 #FFFFFF,
        1px 1px 0 #FFFFFF;
}